# Backend Ignore
/backend/env

# dependencies
frontend/node_modules/

# Expo
frontend/.expo/
frontend/dist/
frontend/web-build/

backend/serviceAccountKey.json

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
frontend/.env*.local

# typescript
*.tsbuildinfo